#avatarDiv {
	width:200px;
	margin:0;
	height:260px;
	background: #fbfcfe;
	position: relative;
	font-family: 'Press Start 2P', cursive;
	
};



#rank1 {
	text-align: left;
	font-family: 'Press Start 2P', cursive;
	
}

#picture {
	width:150px;
	height: 150px;
	background: #fff;
	content:url('../assets/avatar.png');
}