.friend {
	width:50px;
	height:50px;
	border-radius:100%;
	background:#00c5cd;
	outline:none;
	border:1px solid #f7f7f7;
	text-align: center;
	color:#fff;
}
.friendListItem {
	display: inline-block;
}

#friendsContainer {
	width:200px;
	text-align: center;
	position: absolute;
	top:170px;
	right:0px;
	margin-bottom: 10px;
}
#setGoal {
	margin:0;


}

#listContain {
	width:150px;
	margin:auto;
}

#friendsUl {
	padding: 0;
}
.requester {

	min-width: 40px;
	margin-right: 15px;
	color: black;
}
.reqObj {
	margin-top: 10px;
	margin-left: 10px;
}
#friendRequests {
	color: #2A8889;
	margin-left: 10px;
	width: 390px;
	background: #F7EBD9;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-left: 10px;
	padding-top: 10px;
}

.rejbutton, .accbutton {
	margin-right: 15px;
	width: 60px;
	height: 40px;
	border-radius: 3px;
	/*font-size: 0.6rem;*/
	background: #00C5CD;
}
.rejbutton:hover {
	background: red;
	color: white;
}
.accbutton:hover {
	background: green;
	color: white;
}
