#home-wrapper {
	position: relative;
	width: 60%;
	margin: auto;
	text-align: center;
}
#bigTitle {
	position: absolute;
	top: 500px;
	left: 200px;
	font-size: 3.2rem;
	font-family: 'Roboto', sans-serif;
	color: #019CF6;
}
#bigPic {
	background-image: url('../assets/UpGbackground.jpeg');
	/*margin-top: 50px;*/
	margin-left: -35px;
	background-repeat: no-repeat;
	background-size: contain;
	width: 1600px;
	height: 1050px;
}
