#loginPageWrapper {
	width: 100%;
	height: 100%;

}
#loginContainer {
	width:100%;
	min-width:875px;
	height:60px;
	margin: auto;
	background: #00C5CD;
	position: relative;

}

#logoSpan {
	display: inline-block;
	margin-top: 15px;
	margin-right: 50px;
	margin-left: 5px;
	color: white;
	font-size: 1.2rem;
}

#loginSpan {
	display: inline-block;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 0.9rem;
}

#loginForm {
	display: inline-block;
}

.inputWindow {
	display: inline-block;
	margin-right: 20px;
	width: 200px;
	height: 40px;
	background: white;
	border-radius: 5px;
}

.loginInput {
	width:200px;
	height:35px;
	outline: none;
	font-size: 0.8rem;
	border-radius: 5px;
}

#inputContainer {
	display: inline-block;
	width: 700px;
	height: 40px;
	top:5px;
}

#user {
	position: absolute;
	top:-10px;
	left:10px;
}

#pass {
	position: absolute;
	top:-10px;
	left:10px;
}
.valContain {
	position: relative;
}
#submitLog {
	display: inline-block;
	color:#fff;
	background: #00F5CD;
	outline:none;
	border:1px solid #F7F7F7;
	padding:10px;
	border-radius:5px;
	margin-right: 10px;
}

#submitLog:hover {
	background: #33A1FF;
}

#registerBtn {
	display: inline-block;
	color:#fff;
	background: #00F5CD;
	outline:none;
	border:1px solid #F7F7F7;
	padding:10px;
	border-radius:5px;

}

#registerBtn:hover {
	background: #33A1FF;
}

#bigPic {
	background-image: url('../assets/UpGbackground.jpeg');
	margin-top: -20px;
	
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 1050px;
}
#home-wrapper {
	position: relative;
	width: 60%;
	margin: auto;
	text-align: center;
}
#bigTitle {
	position: absolute;
	top: 460px;
	left: 220px;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	color: #019CF6;
}


