body {
	font-family: 'Roboto', sans-serif;
}

#container {
	width: 95%;
	margin: auto;
	text-align: center;
}

ul {
	list-style: none;
}

#bigTitle {
	padding-top: 50px;
	font-size: 2.2rem;
	font-family: 'Roboto', sans-serif;
	color: #019CF6;
}
